:root {
    --cb-heading: yellow;
    --cb-background-dark: #24080d;
    --cb-bright: #e63a20;
    --cb-lightish: #b2d7db;
    --cb-light: #11e0e8;
    --cb-border: #9b322f;
}

html {
    font-size: 14px;
    background: rgb(47,11,18);
    background: linear-gradient(180deg, rgba(47,11,18,1) 0%, rgba(13,3,37,1) 100%);
}

body {
    background: rgba(0, 0, 0, 0);
}

h1, h2, h3, h4, h5 {
    color: yellow;
    text-shadow: 0px 1px 3px orange;
}

a, .btn-link {
    text-shadow: 1px 0px 2px red, 0 0 .3em blue, 0 0 0.2em blue;
}

.cb-text-bright {
    color: var(--cb-bright) !important;
    text-shadow: 1px 1px 3px red;
}

p, .cb-text-lightish {
    color: var(--cb-lightish) !important;
}

.cb-text-light {
    color: var(--cb-light) !important;
}

.cb-bg-dark {
    background-color: var(--cb-background-dark);
}

.cb-border-top {
    border-top: 1px solid var(--cb-border);
}

.cb-border-bottom {
    border-bottom: 1px solid var(--cb-border);
}

.bg-primary {
    background-color:  !important;
}

.cb-table > thead > tr > th {
    color: #11e0e8;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}