@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 cb-text-light">Welcome</h1>
    <p>A tool for keeping track of characters in Cyberpunk style games.</p>
</div>
