@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
<p>Index for Debug!</p>

<table class="table cb-table">
    <thead>
        <tr>
            <th> Adds </th>
            <th> Deletes </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <form asp-action="GenerateGameItems">
                    <input type="submit" value="Create Example GameItems" class="btn" />
                </form>
            </td>
            <td>
                <form asp-action="Delete">
                    <input type="submit" value="Delete All GameItems" class="btn btn-danger" />
                </form>
            </td>
        </tr>
    </tbody>
</table>

}
